---
import NavLinks from "./NavLinks.astro";

const navigation = [
  {link: '/', title: 'Home'},
  {link: '/about', title: 'About'},
  {link: '/blog', title: 'Blog'},
  {link: '/tags', title: 'Tag'}
]
---
<div class="nav-links">
  {navigation.map((nav) => <NavLinks navLink={nav.link} navTitle={nav.title} />)}
</div>